@import "tailwindcss";

body {
  background: white;
  color: #151515;
  font-family: 'EB Garamond', serif;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

main {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: min(6vw, 4.5vh);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input:active, input:focus,
textarea:active, textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
}

.thin-button {
  font-weight: 400;
  cursor: pointer;
}

ul {
  list-style: circle;
  padding-left: 2em;
}

.magnet, .magnet * { cursor: grab; }
.magnet:active, .magnet:active * { cursor: grabbing; }

.magnet-inner {
  cursor: inherit;
  display: inline-block;
  padding: 0em 0.2em;
  background: white;
  border: 0.1em solid #ededed;
  box-shadow:
    0.05em 0.1em 0 rgba(0, 0, 0, 0.5),
    0 0.3em 0.6em rgba(0, 0, 0, 0.05);
  font-size: min(3vw, 2.25vh);
  white-space: nowrap;
  user-select: none;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.magnet-inner:hover, .magnet-inner:focus {
  box-shadow:
    0.1em 0.2em 1em rgba(0, 0, 0, 0.3);
  transform: scale(1.03) translateY(-0.15em);
}

.bottom-gradient {
  background: linear-gradient(to bottom, transparent, transparent 0%, rgba(0, 0, 0, 0.05) 50%, transparent 100%);
}

.noise-bg {
  position: absolute;
  inset: 0;
  pointer-events: none;

  z-index: 1;

  background-image: url('/noise.png');
  background-repeat: repeat;
  background-size: 100px 100px;
  background-position: center;
  mix-blend-mode: screen;
  opacity: 1;
}
